      <footer class="footer">
        <ul class="footer-links">
          <li>
            Sort by <a href="https://sangeetamenon.github.io/categories/" class="footer-links-kudos" target="_blank">Categories</a> | <a href="https://sangeetamenon.github.io/tags/" class="footer-links-kudos" target="_blank">Tags</a>
          </li>
        </ul>
        <br>
        <ul class="footer-links">
          <li>
            &copy; 2020 - Sangeeta Menon
          </li>
        </ul>
      </footer>
    
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
